{
  "presets": [
    ["env",
    {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions"
  ]
}
